@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me Please</h1>

<div>
    <p>Today is your lucky day cause you can date me</p>
</div>

<img src="~/img/brycerharper.jpeg" height="250" />
<br />

<div>
    <a asp-controller="Home" asp-action="YouKnowYouWantThis">Apply Today to Be Bryce's</a>
</div>